
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.container-google{
    display: flex;
    justify-content: center;
    
}


.button-login{
    padding: 0;
}
.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285F4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: -8px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto";
    }
    
  }