<ion-content>
  <div class="content">
    <h2 class="text-center text-white">Login with Google</h2>


    <div class="container-google mt-15">
      <button [routerLink]="['/tabs/home']" class="button-login"> 
        <div class="google-btn">
        <div class="google-icon-wrapper">
          <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
        <p class="btn-text"><b>Sign in with google</b></p>
        </div>
      </button>
     
    </div>

  </div>  
</ion-content>
