/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*,html, a, body, select, textarea, input, button, label {
    font-family: Amazon Ember;
    font-weight: 500;
    font-size: 14px;
}

.semi-bold{
    font-family: 'Amazon Ember';
    font-weight: 500 !important;;
}
.text-strong, .bold {
    font-family: 'Amazon Ember';
    font-weight: 600 !important;
}

ion-content{
    --ion-background-color: #0D1821;
}

.content{
    padding: 25px 15px 15px 15px;
}

.header-text span {
    color: #fff;
    font-size: 25px;
  }
  .header-text span:nth-child(2n+1) { 
    color: #00B9E7;
    font-size: 25px;
  }

.text-white{
    color: #fff;
}

.text-blue{
    color: #00B9E7;
}

.text-center{
    text-align: center;
}

.mt-15{
    margin-top: 15px;
}
.fs-18{
    font-size: 18px;
}

.fs-12{
    font-size: 12px;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-segment-button {
    --background-checked: #00B9E7;
    --indicator-color: transparent!important;
    --background: #ffffff;
    margin: 0px 5px 0px 5px;
    font-size: 10px;
}