<ion-content>
  <div class="content">
    <span class="header-text"><span>Prime </span><span>Video</span></span>
    <div class="mt-15">
      <ion-segment value="movie" mode="ios">
        <ion-segment-button value="movie">
          <ion-label>Movie</ion-label>
        </ion-segment-button>
        <ion-segment-button value="serial">
          <ion-label>Serial</ion-label>
        </ion-segment-button>
        <ion-segment-button value="nowplaying">
          <ion-label>Now Playing</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="mt-15">
      <div class="section">
        <ion-text class="text-white fs-18">Baru Rilis</ion-text>
        <ion-text class="text-white fs-12">Lihat Semua</ion-text>
      </div>
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="mt-15">
      <div class="section">
        <ion-text class="text-white fs-18">Film Hollywood</ion-text>
        <ion-text class="text-white fs-12">Lihat Semua</ion-text>
      </div>
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="mt-15">
      <div class="section">
        <ion-text class="text-white fs-18">Tranding</ion-text>
        <ion-text class="text-white fs-12">Lihat Semua</ion-text>
      </div>
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src='./assets/image/image-movie.png'/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>


  </div>

</ion-content>
