<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button class="floating-back-button" (click)="toHome()">
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="detail-poster">
    <img src="assets/image/poster1.png">
  </div>

  <div class="detail-content">
    <div class="custom-tabs">
      <ion-segment [(ngModel)]="detailMovieTab" >
        <ion-segment-button value="episode">
          <ion-label>Episodes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="info">
          <ion-label>Information</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="detailMovieTab" class="p-10">
      <div *ngSwitchCase="'episode'">
        <div class="episode-list">
          <div class="episode-item">
            <img class="episode-img" src="assets/image/image-movie.png">
            <div class="episode-detail">
              <p>Episode 1</p>
              <p class="text-grey">It's about time</p>
              <p class="text-blue">29:40</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'info'">
        <div>
          <p class="fs-18">Synopis</p>
          <p class="text-grey">O adolescente Mark Grayson é um jovem como qualquer outro, exceto que seu pai é o super-herói mais poderoso do planeta, Omni-Man. Conforme Mark desenvolve seus poderes, ele descobre que o legado de seu pai pode não ser tão heróico quanto parece.</p>
        </div>
        <div>
          <p class="fs-18">Release Date</p>
          <p class="text-grey">2021</p>
        </div>
        <div>
          <p class="fs-18">Cast</p>
          <div class="cast-list">
            <div class="cast-item">
              <img class="cast-img" src="assets/image/cast1.jpg">
              <p>Steven Yeun</p>
            </div>
            <div class="cast-item">
              <img class="cast-img" src="assets/image/cast1.jpg">
              <p>Steven Yeun</p>
            </div>
            <div class="cast-item">
              <img class="cast-img" src="assets/image/cast1.jpg">
              <p>Steven Yeun</p>
            </div>
            <div class="cast-item">
              <img class="cast-img" src="assets/image/cast1.jpg">
              <p>Steven Yeun</p>
            </div>
            <div class="cast-item">
              <img class="cast-img" src="assets/image/cast1.jpg">
              <p>Steven Yeun</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>