.detail-poster {
  position: relative;
  &::before {
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(14,24,33,1) 60%);
    position: absolute;
    height: 25%;
    bottom: 0;
    width: 100%;
  }
}

.detail-content {
  padding: 0 40px 20px;
}

.text-grey {
  color: #5A6777;
}


.custom-tabs {
  ion-segment {
    justify-content: flex-start;
    background-color: transparent;
  }
  ion-segment-button {
    background-color: rgba($color: #000000, $alpha: 0.0);
    border-radius: 50px;
    color: #ffffff;
    --indicator-height: 0px;
    margin: 0;
    min-height: 30px;
    height: 35px;
    width: auto;
    min-width: auto;
    flex: none;
    text-transform: inherit;
    letter-spacing: inherit;
     
    ion-label {
      font-weight: 600;
    }
    
    &:first-of-type {
      --padding-start: 0px;
    }

    &.segment-button-checked {
      background-color: var(--ion-color-primary);
      color: #0D1821;
      &:first-of-type {
        --padding-start: 16px;
      }
    }

  }
}

.cast-list {
  display: -webkit-inline-box;
  align-items: flex-start;
  gap: 10px;
  overflow-x: auto;

  .cast-item {
    text-align: center;
    
    p {
      font-size: 13px;
    }
  }

  .cast-img {
    width: 94px;
    height: 94px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.floating-back-button {
  --transition: none;
  --background: rgb(255 255 255 / 80%);
  --background-focused: transparent;
  --background-hover: transparent;
  --background-activated-opacity: 0;
  --box-shadow: none;
  width: 32px;
  height: 32px;

  ion-icon {
    font-size: 40px;
    color: #000000;
    opacity: 0.8;
  }
}

.episode-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;

  p {
    margin: 0;
  }

  .episode-detail {
    margin-left: 10px;
  }

  .episode-img {
    width: 157.98px;
    height: 88.86px;
    object-fit: cover;
  }
}